body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #e4ebed; 
}

.container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #ffffff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

select, button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

select,
button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

label {
  font-size: 16px;
  margin-right: 10px; 
}

.upload-section {
  margin: 20px 0;
}

.upload-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  margin-left: 70px;
  margin-right:10px;
}

.submit-btn {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #0056b3;
}